<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head th:replace="fragments/head">
  <!-- Fragment "head" inserted here - styles, meta, and JS imports -->
</head>

<body class="govuk-template__body">
  <div th:replace="fragments/header">
    <!-- Header content, such as cookie consent here -->
  </div>
  <main id="main-content" class="govuk-width-container govuk-!-margin-top-9">
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
              Cookies on the Find a coronavirus (COVID-19) travel test provider
              if you're arriving in England service
            </h1>
            <p class="govuk-body">
              Cookies are small files saved on your phone, tablet or computer
              when you visit a website. We use cookies to store information
              about how you use this service.
            </p>
            <h2 class="govuk-heading-m">Cookie settings</h2>
            <h3 class="govuk-heading-s">Cookies that measure website use</h3>
            <p class="govuk-body">
              We use Google Analytics to measure how you use the service so we
              can improve it based on user needs.
            </p>
            <p class="govuk-body">
              Google Analytics sets cookies that track whether you’ve visited
              the service before. The information collected is anonymised.
            </p>
            <p class="govuk-inset-text">
              We do not allow Google to use or share the data about how you use
              this site.
            </p>
            <p class="govuk-body">
              Google Analytics sets cookies that store anonymised information
              about:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>turning on JavaScript in your browser settings</li>
              <li>reloading this page</li>
            </ul>
            <p class="govuk-body">
              Google Analytics sets the following cookies.
            </p>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" style="width: 50px">
                    Name
                  </th>
                  <th scope="col" class="govuk-table__header">Purpose</th>
                  <th scope="col" class="govuk-table__header" style="width: 80px">
                    Expires
                  </th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">_ga</td>
                  <td class="govuk-table__cell">
                    These help us count how many people visit GOV.UK by tracking
                    if you’ve visited before
                  </td>
                  <td class="govuk-table__cell">2 years</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">_gid</td>
                  <td class="govuk-table__cell">
                    These help us count how many people visit GOV.UK by tracking
                    if you’ve visited before
                  </td>
                  <td class="govuk-table__cell">24 hours</td>
                </tr>
              </tbody>
            </table>

            <div class="govuk-!-margin-bottom-9">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="functional-cookies" name="functional-cookies" type="radio"
                        value="yes" />
                      <label class="govuk-label govuk-radios__label" for="functional-cookies">
                        Use cookies that measure my website use
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="functional-cookies-2" name="functional-cookies"
                        type="radio" value="no" checked />
                      <label class="govuk-label govuk-radios__label" for="functional-cookies-2">
                        Do not use cookies that measure my website use
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <button class="govuk-button" data-module="govuk-button" onclick="saveCookieSetting()">
                Save cookie settings
              </button>
            </div>
            <h3 class="govuk-heading-s">Strictly necessary cookies</h3>
            <p class="govuk-body">
              You may see a banner when you visit GOV.UK inviting you to accept
              cookies or review your settings. We’ll set cookies so that your
              computer knows you’ve seen it and not to show it again, and also
              to store your settings.
            </p>
            <p class="govuk-body">
              These cookies store your consent settings. They always need to be
              on.
            </p>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" style="width: 220px">
                    Name
                  </th>
                  <th scope="col" class="govuk-table__header">Purpose</th>
                  <th scope="col" class="govuk-table__header" style="width: 80px">
                    Expires
                  </th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">cookies_policy</td>
                  <td class="govuk-table__cell">
                    Saves your cookie consent setting  
                  </td>
                  <td class="govuk-table__cell">1 year</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">cookies_preferences_set</td>
                  <td class="govuk-table__cell">
                    Lets us know that you’ve saved your cookie consent settings 
                  </td>
                  <td class="govuk-table__cell">1 year</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </main>
  <footer th:replace="fragments/footer">
    <!-- Footer content -->
  </footer>
  <div th:replace="fragments/scripts">
    <!-- Lazy loaded JavaScripts -->
  </div>
</body>

</html>