<head>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VEJ9HFN93E"></script>
  <script>
    function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(";");
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == " ") c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0)
          return JSON.parse(c.substring(nameEQ.length, c.length));
      }
      return null;
    }

    var cookiePolicy = getCookie("cookies_policy");

    if (cookiePolicy !== null && cookiePolicy.campaigns === true) {
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-VEJ9HFN93E");
    }
  </script>

  <title>
    MyData Demo - GOV.UK
  </title>
  <link rel="shortcut icon" href="/assets/images/favicon.ico?17.5.21" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <!--[if !IE 8]><!-->
  <link rel="stylesheet" href="../css/govuk-frontend-3.11.0.min.css" />
  <link rel="stylesheet" href="../css/css.css" />
  <link rel="stylesheet" href="../css/sortable-table.css" />

  <!--<![endif]-->
  <!--[if IE 8]>
      <link rel="stylesheet" href="../css/govuk-frontend-ie8-3.11.0.min.css" />
    <![endif]-->
  <meta name="robots" content="noindex,nofollow" />
</head>